@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

header {
  text-align: center;
  overflow-y: hidden;
  padding: 75px 0 175px;
  margin-bottom: -100px;
  background-size: cover;
  background-position: center top;
}

.App {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  background: grey;
  margin-top: 30px;
}

// This prevents white boxes from filling in the unfilled areas around the image modals.
.modal-content {
  border: none;
  background-color: transparent;
}