// Bootstrap breakpoints:
// lg and xl: two cols  >= 992px
// md:        one col   >= 768px (width: 100%)
// sm:        two cols  >= 576px
// xs:        one col    < 576px (width: 100%)

html {
  scroll-behavior: smooth;
}

header {
  text-align: center;
  overflow-y: hidden;
  padding: 75px 0 175px;
  margin-bottom: -100px;
  background-size: cover;
  background-position: center top;
}

.App {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

// This prevents white boxes from filling in the unfilled areas around the image modals.
.modal-content {
  border: none;
  background-color: transparent;
}

.page-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  margin: 0;
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }

  @media (min-width: 576px) {
    font-size: 7rem;
  }
}

.modalImage {
  object-fit: contain;
  height: 90vh;
  width: 100%;
}

.pieceImage {
  box-shadow: 5px 5px 10px #00000022;
  cursor: pointer;
}
